.fab{
    font-size: 40px;
}
div.box{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: rgba(125, 125, 177, 0.678);

}
div.box:hover {
    background-color: rgba(255, 255, 255, 0.747);
}
.ers {
    background-color: black;
}

.hidden > img {
display: none !important ;
}

.ice{
    pointer-events: none;
}
.peer{
    pointer-events: none;


}

 @media (    max-width: 760px){
    #root{
     background-image: none !important ;
     background-color: cadetblue;
     height: 100vh;
    }
}